language: ruby
rvm:
  - 2.5.1

sudo: required

addons:
  postgresql: "9.6"

services:
  - docker
  - postgresql

before_install:
  - export RAILS_ENV=test
  - gem install bundler

before_script:
  - bundle install --jobs=3 --retry=3  
  
  # postgres setup
  - psql -c "CREATE ROLE tools WITH PASSWORD 'tools';" -U postgres
  - psql -c "ALTER ROLE tools WITH CREATEDB;" -U postgres
  - psql -c "ALTER ROLE tools WITH LOGIN;" -U postgres


script:
  # lint
  - bundle exec rubocop
  
  # test
  - export RAILS_OTP_SECRET_ENCRYPTION_KEY=51b283af668dcbafb44bbd4d085b0419aa0f6ec9a9bdba38a6890cb82dcaeea8bac1fd31503bd8b61c783cf61cd601e3e1a01ba810b63195cc8d8008e4accf27 # just so migrate doesnt explode
  - bundle exec rails db:create
  - bundle exec rails db:migrate
  - bundle exec rails assets:precompile # needed or else app wont load, since test env does not compile on the fly.
  - bundle exec rspec

deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master
