<div>
  <p class="subtitle is-4"> 
    cheers mate, registrations are currently closed. 
  </p>
  <p class="subtitle is-4">
    If you would like an account shoot an email my way:
    <%= mail_to 'ozkar@ozkar.org' %>
  </p>
</div>
