
<div>
  <p class="subtitle is-4"> 
    ozkar's tools are a collection of simple apps, 
    all bundled on this page so i dont have to rely on external sources for my basic day to day tooling, 
    next is a short description of such tools:
  </p>
</div>

<br />
<br />

<div>
  <h2 class="title">
    <%= link_to 'Passwd', passwords_path %>
  </h2>
  <p class="subtitle">a password manager, so you dont have to remember all those passwords, supports copy to clipboard</p>
</div>


<!-- 
<hr />

<div>
  <h2 class="title">Todos</h2>
  <p class="subtitle"> a simple todo app, to keep track of things to do</p>
</div>

<hr />

<div>
  <h2 class="title">Notes</h2>
  <p class="subtitle">note taking, now centralized</p>
</div>

<hr />

<div>
  <h2 class="title">RSS</h2>
  <p class="subtitle">a RSS reader</p>
</div>
-->
