
<div>
  <p class="subtitle is-4"> 
    ozkar's tools are a collection of simple tools/apps 
    that are either: a direct replacement of a tool i used to use but dissapeared, 
    or simple tools that i never liked the alternatives out there, and decided to make one myself.
  </p>
  <p class="subtitle is-4">
    Next is a short description of such tools:
  </p>
</div>

<br />
<br />

<div>
  <h2 class="title">
    <%= link_to 'Passwd', passwords_path %>
  </h2>
  <p class="subtitle">a password manager, so you dont have to remember all those passwords, supports copy to clipboard</p>
</div>

<hr />

<div>
  <h2 class="title">
    <%= link_to 'Notes', notes_path %>
  </h2>
  <p class="subtitle">note taking, supports markdown</p>
</div>

<!-- 
<hr />

<div>
  <h2 class="title">Todos</h2>
  <p class="subtitle"> a simple todo app, to keep track of things to do</p>
</div>

<hr />

<div>
  <h2 class="title">Pomodoro</h2>
  <p class="subtitle">
    a pomodoro app, javascript based
  </p>
</div>
-->
