<table class="table is-stripped is-fullwidth">
  <thead>
    <tr>
      <th width="20"></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="todos" >
    <%= render 'todos', todos: todos %>
  </tbody>
</table>
